{% extends "base.html" %}
{% block content %}
    {% for message in get_flashed_messages(True,["register"]) %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="container">
    <div class="row" style="padding-top:40px">
        {% import "bootstrap/wtf.html" as wtf %}
        {{ wtf.quick_form(form,form_type="horizontal",horizontal_columns=("md",4,5)) }}
    </div>
    </div>
{% endblock %}