
.site-notice {
    padding: 5px 0;
    text-align: center;
    background-color: #208d4e
}

.site-notice a {
    color: #eee
}

.site-notice a:hover {
    color: #fff
}

.site-notice em {
    font-style: normal
}

.main-navbar {
    margin-bottom: 0;
    background-color: transparent
}

.main-navbar a {
    color: #eee
}

.main-navbar a:hover {
    color: #fff
}

.main-navbar .nav>li>a:focus,.main-navbar .nav>li>a:hover {
    background-color: transparent
}

.main-navbar .navbar-toggle .icon-bar {
    background-color: #fff
}

.main-navbar .navbar-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    height: 30px;
    width: 124px
}

.main-navbar .navbar-brand.brand-bootcdn {
    background: url(/assets/img/bootcdn.svg) no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain
}

.main-navbar .navbar-brand.brand-upyun {
    background: url(/assets/img/upyun.svg) no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain
}
.site-header {
    position: relative;
    text-align: center;
    background-color: #27ae60;
    color: #fff;
    margin-bottom: 0
}
.jumbotron {
    background-color: transparent
}