{% extends "base.html" %}
{% block content %}
    <style>
    </style>
    <div class="container">
        <div class="list-group packages">
            {% for x in api %}
                <a href="{{ url_for("index.detail",id=x.id) }}" class="package list-group-item" target="_blank">
                    <div class="row">
                        <div class="col-md-3"><h4 class="package-name">{{ x.api }}</h4></div>
                        <div class="col-md-9 hidden-xs"><p class="package-description">{{ x.desc }}</p></div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}